# Server Configuration
PORT=8080
GIN_MODE=release
ENVIRONMENT=development

# AI Service
GEMINI_API_KEY=bla-bla-k

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com.ng,http://localhost:5173

# Logging
LOG_LEVEL=info

# Rate Limiting (requests per minute)
RATE_LIMIT=100

# Supabase Configuration
SUPABASE_URL=https://bla.supabase.co
SUPABASE_JWT_SECRET=super_secret
DATABASE_URL=postgresql://postgres.bla:bla@area.pooler.supabase.com:6543/postgres

# RAG Configuration
BUCKET_NAME=documents
SUPABASE_KEY=secret.secret.secret

SOLANA_RPC_ENDPOINT=https://api.devnet.solana.com
SOLANA_NETWORK=devnet
SOLANA_RECIPIENT_WALLET=your_wallet_address_here