# Server Configuration
PORT=8080
GIN_MODE=release
ENVIRONMENT=development

# AI Service
GEMINI_API_KEY=AIzaSyAX5OL3yI-liKMY2JcHSM23hZSCfGkcD-k

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com.ng,http://localhost:5173

# Logging
LOG_LEVEL=info

# Rate Limiting (requests per minute)
RATE_LIMIT=100

# Supabase Configuration
SUPABASE_URL=https://dixceqaeloiywxihgfem.supabase.co
SUPABASE_JWT_SECRET=EoXAHigD0NDNMPGLjOoUPghjk0ffjC7gJgFAry9SQO5PsKhIwKGQ0OZJZ0LiXr9nlDALD6wDl/rRzoqoK+lZKw==
DATABASE_URL=postgresql://postgres.dixceqaeloiywxihgfem:4Uc2ClZngo3WsxU4@aws-0-eu-central-1.pooler.supabase.com:6543/postgres

# RAG Configuration
BUCKET_NAME=documents
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpeGNlcWFlbG9peXd4aWhnZmVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODExNjY4MSwiZXhwIjoyMDYzNjkyNjgxfQ.3pEY24pF06Yei5E4TVvJ2S1CnY6pKnZeIGE66NFN5qY

SOLANA_RPC_ENDPOINT=https://api.devnet.solana.com
SOLANA_NETWORK=devnet
SOLANA_RECIPIENT_WALLET=your_wallet_address_here